/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/* FONTS */
@font-face {
  font-family: 'Obcecada Sans';
  src: url('https://wafwaf.vercel.app/fonts/Obcecada-Sans.eot');
  src: url('https://wafwaf.vercel.app/fonts/Obcecada-Sans.eot?#iefix') format('embedded-opentype'),
      url('https://wafwaf.vercel.app/fonts/Obcecada-Sans.woff2') format('woff2'),
      url('https://wafwaf.vercel.app/fonts/Obcecada-Sans.woff') format('woff'),
      url('https://wafwaf.vercel.app/fonts/Obcecada-Sans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Brandon Text';
  src: url('https://wafwaf.vercel.app/fonts/BrandonText-Bold.eot');
  src: url('https://wafwaf.vercel.app/fonts/BrandonText-Bold.eot?#iefix') format('embedded-opentype'),
      url('https://wafwaf.vercel.app/fonts/BrandonText-Bold.woff2') format('woff2'),
      url('https://wafwaf.vercel.app/fonts/BrandonText-Bold.woff') format('woff'),
      url('https://wafwaf.vercel.app/fonts/BrandonText-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AvenirNext';
  src: url('https://wafwaf.vercel.app/fonts/AvenirNext-DemiBold.eot');
  src: url('https://wafwaf.vercel.app/fonts/AvenirNext-DemiBold.eot?#iefix') format('embedded-opentype'),
      url('https://wafwaf.vercel.app/fonts/AvenirNext-DemiBold.woff2') format('woff2'),
      url('https://wafwaf.vercel.app/fonts/AvenirNext-DemiBold.woff') format('woff'),
      url('https://wafwaf.vercel.app/fonts/AvenirNext-DemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('https://wafwaf.vercel.app/fonts/AvenirLTStd-Roman.eot');
  src: url('https://wafwaf.vercel.app/fonts/AvenirLTStd-Roman.eot?#iefix') format('embedded-opentype'),
      url('https://wafwaf.vercel.app/fonts/AvenirLTStd-Roman.woff2') format('woff2'),
      url('https://wafwaf.vercel.app/fonts/AvenirLTStd-Roman.woff') format('woff'),
      url('https://wafwaf.vercel.app/fonts/AvenirLTStd-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AvenirNext';
  src: url('https://wafwaf.vercel.app/fonts/AvenirNext-Regular.eot');
  src: url('https://wafwaf.vercel.app/fonts/AvenirNext-Regular.eot?#iefix') format('embedded-opentype'),
      url('https://wafwaf.vercel.app/fonts/AvenirNext-Regular.woff2') format('woff2'),
      url('https://wafwaf.vercel.app/fonts/AvenirNext-Regular.woff') format('woff'),
      url('https://wafwaf.vercel.app/fonts/AvenirNext-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AvenirNextLTPro-Cn';
  src: url('https://wafwaf.vercel.app/fonts/AvenirNextLTPro-Cn.eot');
  src: url('https://wafwaf.vercel.app/fonts/AvenirNextLTPro-Cn.eot?#iefix') format('embedded-opentype'),
      url('https://wafwaf.vercel.app/fonts/AvenirNextLTPro-Cn.woff2') format('woff2'),
      url('https://wafwaf.vercel.app/fonts/AvenirNextLTPro-Cn.woff') format('woff'),
      url('https://wafwaf.vercel.app/fonts/AvenirNextLTPro-Cn.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'AvenirNextLTPro-Bold';
  src: url('https://wafwaf.vercel.app/fonts/Mada-Bold.eot');
  src: url('https://wafwaf.vercel.app/fonts/Mada-Bold.eot?#iefix') format('embedded-opentype'),
      url('https://wafwaf.vercel.app/fonts/Mada-Bold.woff2') format('woff2'),
      url('https://wafwaf.vercel.app/fonts/Mada-Bold.woff') format('woff'),
      url('https://wafwaf.vercel.app/fonts/Mada-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  font-size: 16px;
  font-family: 'AvenirNext-Regular', sans-serif;
}

body {
  /* opacity: 0;
  animation: loadBody 4s forwards; */
}

html, body, div, p {
  color: #251C16;
}

body {
  padding-bottom: 2rem;
  opacity: 0;
  animation: 3s bodyLoad forwards;
}

@keyframes bodyLoad {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes bodyLoad {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.h1 {
  font-family: 'Obcecada Sans', sans-serif;
  font-size: 11rem;
  line-height: 11.5rem;
  text-align: center;
  padding: 2.5rem 0 3rem;
}

.h2 {
  font-family: 'Brandon Text', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 3rem;
  letter-spacing: -1.5px;
  text-align: center;
}

.h3 {
  font-family: 'AvenirNextLTPro-Bold', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2rem;
  color: #251C16;
}

#menu .h1 {
  font-size: 5rem;
  line-height: 6rem;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.bg-pink {
  background: #CF909B;
}

.bg-light-green {
  background: #85D3C4;
}

.bg-yellow {
  background: #F8EABF;
}

.bg-yellow-dark {
  background: #ecd684;
}

.bg-brown {
  background: #483B33;
}

.bg-green {
  background: #85D3C4!important;
}

.text-yellow {
  color: #F8EABF!important;
}

.text-green {
  color: #85D3C4!important;
}

.text-light-yellow {
  color: #FFFDF5!important;
}

.text-pink {
  color: #CF909B;
}

/* Pattern Bars */
.rubic-pattern {
  height: 30px;
  overflow: hidden;
  background-image: url('/img/header-pattern.jpg');
  background-size: 400px;
  background-position: center top;
    background-repeat: repeat;
  /* background-attachment: fixed; */
  -webkit-animation: animatedBackground 15s linear infinite alternate;
          animation: animatedBackground 15s linear infinite alternate;
}

.rubic-pattern.navbar-pattern {
  background-position: 30px;
  border-radius: 0 0 30px 30px;
  margin-bottom: 50px;
}

.rubic-pattern.top {
  border-radius: 30px 30px 0 0;
}

.rubic-pattern.bottom {
  border-radius: 0 0 30px 30px;
}

html .load-hidden {
  visibility: hidden;
}

.hide {
  display: none;
}

/* Pages */
#homepage,
#locations,
#contact,
#franchising {
  background: #FFFDF5;
}

#jobs {
  background: #76685E;
}

#delivery {
  background: #ECD684;
}

.contact-page,
#about,
#jobs {
  background: #CF909B;
}

.franchising-page {
  background: #85D3C4;
}

.btn-zoom-in-out{
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.btn-zoom-in-out:hover{
  -webkit-transform: scale(1.08);
      -ms-transform: scale(1.08);
          transform: scale(1.08);
}


.rounded-50 {
  border-radius: 50px;
  overflow: hidden;
}

.reveal-left {
  visibility: hidden;
  position: relative;
  width: 50%;
  height: auto;
  overflow: hidden;
}

.reveal img {
  height: 100%;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
  /* transform-origin: left; */
}

/* .reveal.w-full {
  width: 100%;
} */

.reveal.sm\:w-1\/2 {
  width: 50%;
}

.reveal.sm\:w-1\/3 {
  width: 33%;
}

.reveal.w-1\/4 {
  width: 25%;
  height: auto;
}

.homepage-delivery-img {
  width: 100%;
  aspect-ratio: 16/8;
  border-radius: 30px;
  overflow: hidden;
  background-position: center;
  background-size: cover;
}

#homepage .h2 {
  text-align: center;
}

/* Locations */

.change-location  {
  color: #F8EABF;
  letter-spacing: 0;
}

.change-location h2 {
  opacity: 1;
  font-size: 1.125rem;
}

.change-location img{
  opacity: 0.3;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  max-height: 150px;
  width: 235px ;
  margin: 0 auto;
}

.change-location-active {
  color: #251C16;
}
.change-location-active img{
  opacity: 1;
}

.location-section {
  display: none;
}

.location-section-active {
 display: block;
}
.location-section-active .reveal,
.location-section-active .sm\:reveal {
  opacity: 1!important;
  -webkit-transform: none!important;
      -ms-transform: none!important;
          transform: none!important;
}

.location-info h2{
  font-family: 'Obcecada Sans';
  text-align: left;
  letter-spacing: 0.25px;
  line-height: 2.4rem;
}
.location-info p{
  line-height: 25px;
}

.location-left-portrait,
.location-left-image,
.location-right_portrait,
.location-footer-image,
.about-first-section-image,
.about-second-section-middle-image,
.about-right-section-left-image{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.location-left-portrait{
  aspect-ratio: 1/1;
}
.location-left-image{
  width: 100%;
  aspect-ratio: 3/2;
}
.location-right_portrait{
  aspect-ratio: 3/4;
}
.location-footer-image{
  aspect-ratio: 3/2;
}
.delivery-logos img{
  max-height: 40px;
}


/* Menu */
.category-title {
  font-family: 'AvenirNextLTPro-Bold', sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
  color:#F8EABF;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.category-title.active {
  color: #251C16;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.single-product .product-title,
.single-product .product-price {
  font-family: 'BrandonText-Bold', sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 3rem;
  color: #251C16;
  margin-top: 22px;
}
/*
.single-product:nth-child(odd){
  padding-right: 4rem;
}
.single-product:nth-child(even){
  padding-left: 4rem;
} */

.single-product .product-description {
  font-family: 'AvenirNext-Regular', sans-serif;
  font-size: 18px;
  line-height: 25px;
  color: #483B33;
}

.single-product .product-price {
  margin-top: 0;
  text-align: right;
  color: #85D3C4;
}

.single-product-img{
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 1/1;
  margin: 0 auto;
}

/* About */
.proccess-title{
  color: #fdfbf1;
  font-size: 3rem;
  line-height: 3.75rem;
  padding-bottom: 60px;
  font-weight: 700;
  letter-spacing: -1.5px;
}

.proccess-item h3 {
  font-family: 'BrandonText-Bold', sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 2rem;
  color: #85D3C4;
}

.proccess-item-index {
  font-family: 'BrandonText-Bold', sans-serif;
  font-size: 3rem;
  line-height: 2.8rem;
  font-weight: bold;
  color: #fff;
  margin-right: 0.75rem;
}

.proccess-icon-1,
.proccess-icon-2,
.proccess-icon-3,
.proccess-icon-4 {
  position: relative;
  -webkit-transition: all 1s cubic-bezier(0.275, 0.82, 0.165, 1);
  -o-transition: all 1s cubic-bezier(0.275, 0.82, 0.165, 1);
  transition: all 1s cubic-bezier(0.275, 0.82, 0.165, 1)
}

.proccess-icon-image img,
#about .left-image-margin {
  height: 100%!important;
}

/* .proccess-icon-image{
  height: 190px !important;
} */

.proccess-item{
  width: 23%;
  padding: 10px;
  min-width: 180px !important;
  max-width: 280px !important;
}

.proccess-item-1::before,
.proccess-item-2::before,
.proccess-item-3::before {
  content: '';
  position: absolute;
  z-index: 3;
  width: 80px;
  height: 36px;
  background: url(/img/arrow.svg) no-repeat;
  background-size: cover;
  background-position: right;
}

.proccess-item-1::before {
  top: 20%;
  right: -80px;
}
.proccess-item-2::before {
  top: 15%;
  right: -70px;
  -webkit-transform: scaleY(-1);
      -ms-transform: scaleY(-1);
          transform: scaleY(-1);
  z-index: 4;
}
.proccess-item-3::before {
  top: 35%;
  right: -80px;
}

.proccess-icon-1 {
  -webkit-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.proccess-icon-2 {
  -webkit-transform: rotate(10deg);
      -ms-transform: rotate(10deg);
          transform: rotate(10deg);
}

.proccess-icon-3 {
  -webkit-transform: rotate(-4deg);
      -ms-transform: rotate(-4deg);
          transform: rotate(-4deg);
}

.proccess-icon-4 {
  -webkit-transform: rotate(5deg);
      -ms-transform: rotate(5deg);
          transform: rotate(5deg);
}

.proccess-icon-1:hover,
.proccess-icon-2:hover,
.proccess-icon-3:hover,
.proccess-icon-4:hover {
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
}


#about h4 {
  font-family: 'BrandonText-Bold', sans-serif;
  font-size: 3rem;
  line-height: 3rem;
  font-weight: bold;
  color: #fff;
}

#about p {
  font-family: 'AvenirNext-Regular', sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #251C16;
}

.about-first-section-image{
  aspect-ratio: 5/4;
}
.about-right-section{
  overflow: visible;
}
.about-right-section-left-image{
  margin-left: calc(-50vw + 560px);
  border-radius: 30px;
  width: 100%;
  aspect-ratio: 2/3;
}
.about-second-section-middle-image{
  width: 100%;
  aspect-ratio: 9/5;
}
.about-icon img{
  height: 7rem;
}

#about .black-btn{
  margin-left: 0;
  margin-right: 0;
}


/* Contact */

.single-information {
  max-width: 18%;
  width: 100%;
}

.info-title {
  font-family: 'AvenirNext', sans-serif;
  background: rgb(70, 62, 55);
  height: 90px;
  font-size: 1.2rem;
  line-height: 1.3rem;
  font-weight: bold;
  padding: 0 10%;
  color: rgb(229,	213, 136);
}

.info-content {
  font-family: 'AvenirNext', sans-serif;
  line-height: 1.5rem;
  color: #FFFDF5;
  white-space: pre-line;
}

.info-content p {
  font-size: 0.95rem;
  color: #FFFDF5;
}

.info-content p a {
  /* color: #251C16; */
  text-decoration: underline;
}

.info-content.content-column-1 p br,
.info-content.content-column-5 p br {
  display: none;
}


/* Delivery */
#delivery header nav .menu-item {
  background: #FFFDF5;
  color: #251C16;
}

#delivery header nav .menu-item:hover {
  background: #85D3C4;
}

#delivery header nav .menu-item.active {
  background: #85D3C4;
}

.single-location {
  max-width: 220px;
}

.single-location h3{
  font-size: 1.125rem;
  line-height: 1.4rem;
  min-height: 56px;
  margin-top: 20px;
}

.delivery-btn {
  background: #FFFDF5;
  border-radius: 30px;
  height: 50px;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 2px;
  box-shadow: 5px 5px 20px #00000029;
}

/* Jobs */
.job-title {
  font-family: 'Brandon Text', sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 2.125rem;
}

.job-location {
  font-family: 'Brandon Text', sans-serif;
  font-size: 1.625rem;
  line-height: 50px;
}

.positions-title {
  font-size: 1.675rem;
}

.job-description {
  max-height: 0;
  font-family: 'AvenirNext-Regular', sans-serif;
  font-size: 1.125rem;
  line-height: 5px;
  white-space: pre-wrap;
  overflow: hidden;
  -webkit-transition: max-height 0.6s ease-in;
  -o-transition: max-height 0.6s ease-in;
  transition: max-height 0.6s ease-in;
}

.job-description p, .job-description li {
  line-height: 30px;
}

.job-description ul li {
  position: relative;
  padding-left: 30px;
}

.job-description ul li::before {
  content: '•';
  position: absolute;
  left: 10px;
  top: 1px;
}

.accordion-opened .job-description {
  max-height: 1500px;
  -webkit-transition: max-height 0.8s ease-in;
  -o-transition: max-height 0.8s ease-in;
  transition: max-height 0.8s ease-in;
}

.open-accordion {
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.accordion-opened .open-accordion {
  -webkit-transform-origin: center !important;
      -ms-transform-origin: center !important;
          transform-origin: center !important;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg)
}




/* Navigation */
.nav-mobile {
  display: none;
}

.main-nav .menu-item {
  font-family: 'AvenirNext', sans-serif;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 0;
  width: 115px;
  text-align: center;
  background: #76685E;
  color: #F8EABF;
  border-radius: 30px;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.main-nav .menu-logo {
  margin: 0 10px;
}

#about header nav .menu-item,
#franchising header nav .menu-item,
#contact header nav .menu-item,
#jobs header nav .menu-item {
  background: #FFFDF5;
  color: #251C16;
}

#about header nav .menu-item:hover,
#jobs header nav .menu-item:hover,
#franchising header nav .menu-item:hover,
#contact header nav .menu-item:hover,
#jobs header nav .menu-item:hover,
header nav .menu-item:hover {
  color: #251C16;
  background: #ecd684;
}

#about header nav .menu-item.active,
#jobs header nav .menu-item.active,
#franchising header nav .menu-item.active,
#contact header nav .menu-item.active,
#jobs header nav .menu-item.active,
header nav .menu-item.active {
  color: #251C16;
  background: #ecd684;
}

#menu header nav .menu-item {
  color: #FFFDF5;
  background: #251C16;
}

#menu header nav .menu-item.active,
#menu header nav .menu-item:hover {
  color: #251C16;
  background: #ECD684;
}

#locations header nav .menu-item{
  background-color: #85D3C4;
  color: #251C16;
}

#locations header nav .menu-item:hover{
  background: #ecd684;
  color: #251C16;
}

#locations header nav .menu-item.active{
  background: #ecd684;
  color: #251C16;
}

/* Hero */

.hero-custom-carousel {
  max-width: 80%;
  aspect-ratio: 16/9;
  overflow: hidden;
  border-radius: 30px;
}

.swiper-css-mode>.swiper-wrapper>.swiper-slide {
  overflow: hidden;
}

.hero-custom-carousel img,
.swiper-slide img {
  -webkit-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
      transform: scale(1.5);
  -webkit-animation: -webkit-zoom-out 1s ease-in-out forwards;
  animation: zoom-out 1s ease-in-out forwards;
}

/* Animations */
@keyframes zoom-out {
  0% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes zoom-out {
  0% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 100%;
  }
}

.after-title-section-content {
  font-family: 'Brandon Text', sans-serif;
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: -1.5px;
  text-align: center;
  padding: 3.4rem;
  background: #85D3C4;
}

/* Posts */
.latest-posts .post-title {
  font-family: 'Brandon', sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #CF909B;
  min-height: 84px;
}

.latest-posts .post-content {
  min-height: 192px;
  overflow: hidden;
}

/* Button */
.rounded-outline-btn {
  width: 100%;
  font-family: 'Brandon', sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 2rem;
  text-transform: uppercase;
  border: 1px solid #251C16;
  border-radius: 30px;
  text-align: center;
}

.black-btn {
  width: 100%;
  font-family: 'Brandon', sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 2rem;
  text-transform: uppercase;
  color: #fff;
  background-color:#251C16;
  border: 1px solid #251C16;
  border-radius: 30px;
  text-align: center;
  letter-spacing: 1px;
}

.black-btn:hover {
  color: #251C16;
  background-color: transparent;
}

/* Franchizing */
.concept-title {
  line-height: 3rem;
  letter-spacing: 1px;
}

.concept-description {
  color: #fff;
  padding-right: 2rem;
}

.concept-3box {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.store-description li {
  list-style-type: circle;
  font-size: 0.9rem;
}

#franchising {
  padding-bottom: 0;
}

.franchising-subtitle{
  font-family: 'Obcecada Sans';
  font-size: 3.5rem;
  line-height: 4rem;
  font-weight: 700;
  letter-spacing: 2.5px;
}

.franchising-line-height{
  line-height: 1.3rem !important;
}

.field_title {
  min-height: 100px;
}

.field_title,
.field_content,

.field_content p {
  font-family: 'BrandonText-Bold', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 42px;
}

.store-title{
  min-height: 80px;
}

.job-description {
  max-height: 0;
  font-family: 'AvenirNext-Regular', sans-serif;
  font-size: 18px;
  line-height: 5px;
  white-space: pre-wrap;
  overflow: hidden;
  -webkit-transition: max-height 0.6s ease-in-out;
  -o-transition: max-height 0.6s ease-in-out;
  transition: max-height 0.6s ease-in-out;
}

.accordion-opened .job-description {
  max-height: 1500px;
  -webkit-transition: max-height 0.8s ease-in-out;
  -o-transition: max-height 0.8s ease-in-out;
  transition: max-height 0.8s ease-in-out;
}

.open-accordion {
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.accordion-opened .open-accordion {
  -webkit-transform-origin: center !important;
      -ms-transform-origin: center !important;
          transform-origin: center !important;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg)
}

.faq-question {
  font-family: 'BrandonText-Bold', sans-serif;
  font-size: 32px;
  font-weight: bold;
  line-height: 40px;
  color: #251C16;
  margin-bottom: 40px;
}

.faq-answer {
  font-family: 'AvenirNext', sans-serif;
  font-size: 18px;
  line-height: 25px;
  color: #483B33;
}




.faq-carousel .swiper-button-prev {
  left: -10px;
  color: #000;
  font-size: 1rem;
}
.faq-carousel .swiper-button-next {
  right: 0;
  color: #000;
  font-size: 1rem;
}

.faq-carousel .swiper-button-prev:after,
.faq-carousel .swiper-button-next:after {
  font-size: 2rem;
}

.faq-title {
  font-family: 'Brandon Text', sans-serif;
  font-size: 2.5rem;
  line-height: 3rem;
}

#franchising .faq-image {
  width: 65px;
  height: 60px;
  position: absolute;
  right: -30px;
  top: -30px
}

/* Instagram */
h2.instagram-title {
  font-family: 'Brandon', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 3.5rem;
  letter-spacing: -1px;
  color:#CF909B;
}

.instagram-feed{
  margin-bottom: 32px;
}

.instagram-item {
  width: calc(33% - 40px);
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 30px;
  margin-bottom: 62px;
}

.instagram-item img {
  width: 100%;
  -webkit-transition: all .3s cubic-bezier(0.215, 0.610, 0.355, 1);
  -o-transition: all .3s cubic-bezier(0.215, 0.610, 0.355, 1);
  transition: all .3s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.instagram-item:hover img {
  -webkit-transform: scale(1.1) rotate(5deg);
      -ms-transform: scale(1.1) rotate(5deg);
          transform: scale(1.1) rotate(5deg);
  cursor: pointer;
}


/* Footer */
footer.site-footer {
  background: #ECD684;
  border-radius: 30px;
}

#delivery footer.site-footer  {
  background: rgb(244,	233,	192);
}

footer .footer-content {
  padding: 50px 69px 40px 69px;
}

footer .footer-logo {
  max-width: 180px;
  width: 100%;
  margin-right: 50px;
}

footer .sm\:w-1\/3 {
  min-height: 210px;
}

footer .footer-title {
  font-family: 'Brandon', sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  color: #251C16;
  line-height: 1.7rem;
  letter-spacing: .6px;
}

footer .footer-body {
  font-family: 'AvenirNext', sans-serif;
  font-weight: normal;
  padding-right: 20px;
  min-height: 84px;
  margin-top: 14px;
}

footer .footer-body div {
  line-height: 1.7rem;
}

footer .footer-info div {
  line-height: 2.2rem;
}

footer .footer-social-place {
  margin-top: auto;
  margin-bottom: -2px;
}

footer .social-icons {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  -o-transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

footer .social-icons:hover {
  opacity: .8;
  -webkit-filter: contrast(1000%) invert(75%) sepia(100%) saturate(8270%) hue-rotate(156deg);
          filter: contrast(1000%) invert(75%) sepia(100%) saturate(8270%) hue-rotate(156deg);
  -webkit-transform: scale(1.08);
      -ms-transform: scale(1.08);
          transform: scale(1.08);
}

footer #newsletter input {
  font-family: 'AvenirNext', sans-serif;
  font-size: 18px;
  font-weight: normal;
  background: transparent!important;
  border: 2px solid #251C16;
  width: 100%;
  padding: 8px;
  color: #251C16;
  letter-spacing: .5px;
}

footer #newsletter input[type="button"] {
  width: 62px;
  font-size: 28px;
  padding: 0px;
  border-left: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
  font-weight: 700;
}

footer #newsletter input::-webkit-input-placeholder {
  color: #251C16;
}

footer #newsletter input::-moz-placeholder {
  color: #251C16;
}

footer #newsletter input:-ms-input-placeholder {
  color: #251C16;
}

footer #newsletter input::-ms-input-placeholder {
  color: #251C16;
}

footer #newsletter input::placeholder {
  color: #251C16;
}

.nav-mobile{
  display: none;
}

#contact .single-information a {
  color: #251C16;
}
#contact .single-information:nth-child(1) a{
  color: #FFFDF5;
}

@media (max-width: 460px) {
  body{
    padding-top: 90px;
  }

  header {
    position: fixed;
    background-color: #FFFDF5;
    padding-bottom: 16px;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
  }

  .h1 {
    font-size: 5rem;
    line-height: 5rem;
    padding: 1.625rem 1.5rem;

  }

  .h2 {
    font-size: 30px;
    line-height: 35px;
    text-align: left;
  }

  .h2.text-center {
    text-align: center;
  }

  .homepage-delivery-img {
    width: calc(100% - 32px);
    margin-left: auto;
    margin-right: auto;
  }

  .after-title-section-content{
    font-size: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: -0.6px;
    text-align: left;
    padding: 32px 24px;
  }

  .faq-carousel .swiper-button-next {
    right: 10px;
  }
  .faq-carousel .swiper-button-prev {
    left: 0;
  }

  .faq-carousel .faq-question,
  .faq-carousel .faq-answer {
    padding-left: 8px;
    padding-right: 8px;
  }

  /* body .rubic-pattern {
    background-size: 200px;
    height: 20px;
    border-radius: 0!important;
  } */

  .navbar-pattern {
    display: none;
  }
  .main-nav {
    display: none;
  }
  .mobile-nav .menu-logo{
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    width: 92px;
  }
  .nav-mobile .menu-logo {
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    width: 92px;
  }
  .nav-mobile .menu-logo img{
    margin-left: 1.5rem;
  }

  .concept-title {
    text-align: left;
  }

  .hamburger {
    width: 50px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    background: #251C16;
    border-radius: 50%;
    z-index: 10001;
  }

  .hamburger .line {
    width: 30px;
    height: 4px;
    background-color: #85D3C4;
    border-radius: 30px;
    display: block;
    margin-bottom: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .hamburger .line:last-child {
    margin-bottom: 0;
  }

  #hamburger.is-active .line:nth-child(2){
    opacity: 0;
  }

  #hamburger.is-active .line:nth-child(1){
    -webkit-transform: translateY(9px) rotate(45deg);
    -ms-transform: translateY(9px) rotate(45deg);
    transform: translateY(9px) rotate(45deg);
  }

  #hamburger.is-active .line:nth-child(3){
    -webkit-transform: translateY(-9px) rotate(-45deg);
    -ms-transform: translateY(-9px) rotate(-45deg);
    transform: translateY(-9px) rotate(-45deg);
  }

  .nav-mobile{
    display: block;
    width: 0;
    visibility: hidden;
    height: 100%;
    position: fixed;
    z-index: 10000;
    top: 0;
    right: 0;
    background-color: #ecd684;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }

  .nav-mobile-full-width{
    width: 100%;
    visibility: visible;
  }

  .nav-mobile-item{
    font-family: "Brandon Text";
    padding-left: 1.75rem;
    text-align: left;
    font-weight: 700;
    letter-spacing: -1px;
    font-size: 1.75rem;
    width: 100%;
    line-height: 3.5rem;
    color: #251c16 !important;
  }

  .nav-mobile-item-active{
   color: #cf909b !important;
  }

  .nav-mobile-item .menu-item {
    padding: 10px 20px 10px 10px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }


  .hero-custom-carousel {
    max-width: 100%;
    padding: 0 24px
  }

  footer .footer-content{
    padding: 50px 24px;
  }
  footer .footer-social-place {
    margin-top: 24px;
    margin-bottom: 12px;
  }
  footer .social-icons{
    max-height: 50px;
  }

  /* Jobs */
  .positions-title{
    font-size: 1.5rem;
    line-height: 1.5rem;
    text-align: left;
  }

  .job-title {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
  .job-location {
    font-size: 1.25rem;
    line-height: 24px;
  }

  /* Contact */
  .single-information {
    max-width: 260px;
    width: 100%;
  }
  .info-content p {
    font-size: 18px;
  }

  /* instagram */
  .instagram-item{
    width: 48%;
    margin-bottom: 16px;
  }
  h2.instagram-title{
    font-size: 1.875rem;
    line-height: 2.25rem;
    text-align: center;
  }

  /* About  */
  .proccess-icon-image{
    height: 150px !important;
  }
  .about-right-section-left-image{
    margin-left: 0;
  }
  #about .reveal-left{
    width: 100%;
  }

  /* Menu */
  #menu h1{
    margin: 0 1.5rem;
  }

  /* Locations */
  .change-location{
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  .location-info h2{
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 16px;
  }

  /* H o m e */
  .latest-posts{
    overflow: hidden;
  }

  .latest-posts .post-content {
    display: none;
  }

  .latest-posts-item.swiper-slide {
    opacity: 0.5 !important;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    -webkit-transform: none !important;
        -ms-transform: none !important;
            transform: none !important;
  }
  .latest-posts-item.swiper-slide-active {
    opacity: 1!important;
  }
  .latest-posts-item{
    max-width: 100%;
  }


  .showcase-group{
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .showcase-item {
    max-width: 100%;
  }

  .showcase-item.swiper-slide {
    opacity: 0.5!important;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    -webkit-transform: none!important;
        -ms-transform: none!important;
            transform: none!important;
  }
  .showcase-item.swiper-slide-active {
    opacity: 1!important;
  }

  img.open-accordion{
    width: 36px;
  }


}

@media (min-width: 1439px) {
  html, body {
    font-size: 14px;
  }
  .hero-custom-carousel {
    max-width: 83.333333%;
  }
}

@media (min-width: 1536px) {
  html, body {
    font-size: 16px;
  }
  .main-nav .menu-item {
    width: 10%;
  }
  .hero-custom-carousel {
    max-width: 83.333333%;
  }
  .container {
    max-width: 80%;
  }
}

@media (min-width: 1640px) {
  html, body {
    font-size: 18px;
  }

  .main-nav .menu-item {
    font-size: 18px;
  }

  .latest-posts .post-title {
    min-height: 108px;
  }
}

@media (min-width: 1920px) {
  html, body, * {
    font-size: 20px;
    font-size: 20px;
  }
  .rounded-outline-btn,
  .black-btn{
    font-size: 18px;
  }
  .h1 {
    font-size: 8.8rem;
    line-height: 8.8rem;
  }

  .hero-custom-carousel {
    width: 60%;
    margin-top: 0;
  }
}
