<div class="container instagram-feed px-6 sm:px-0">
  <h2 class="h2 text-center instagram-title w-full reveal">Sledujte nás na Instagramu</h2>
  <div class="relative flex flex-wrap justify-between mt-16 w-5/6 mx-auto">
      <div
        id="insta"
        class="w-full"
        loading="lazy"
        data-mc-src="6059f325-055c-4c25-ae01-88bf048083d7#instagram"></div>
      <div style="position: absolute; left: 0; bottom: 0; height: 20px; background: #fff; z-index: 10; width: 100%;"></div>
  </div>
</div>
