{% assign url = page.url | remove:'index.html' %}
<header class="site-header">
    {% if current_page == 'contact' %}
      <div>
    {% else %}
      <div div class="container">
    {% endif %}
      <div class="rubic-pattern navbar-pattern"></div>
      <div class="mobile-nav xl:hidden flex justify-between items-center">
        <a  href="/" class="menu-logo">
          {% if current_page == 'contact' or current_page == 'jobs' or current_page == 'franchising' or current_page == 'about' %}
            <img src="/img/Waf-Waf-white.svg" alt="Waf Waf - crepes & waffles" width="120">
          {% else %}
            <img src="/img/Waf-Waf-logo.svg" alt="Waf Waf - crepes & waffles" width="120">
          {% endif %}
        </a>
        <div class="hamburger" id="hamburger">
          <span class="line"></span>
          <span class="line"></span>
          <span class="line"></span>
        </div>
      </div>

      <nav class="nav-mobile " id="nav-mobile">
        <div class="mb-6">
          <a  href="/" class="menu-logo">
            <img src="/img/Waf-Waf-logo.svg" alt="Waf Waf - crepes & waffles" width="92">
          </a>
        </div>
        <div class="multi-lang flex items-center justify-start leading-5 mb-1 pl-3">
          <div id="cz" class="changeLang cursor-pointer mx-1">
            <div class="h-8 py-2 px-3 w-auto flex items-center cursor-pointer opacity-70 hover:opacity-100">
              <!-- <img src="/img/cz.png" alt="cz" class="h-full mr-1"> -->
              <span class="font-semibold uppercase" style="font-size: 18px;">cz</span>
            </div>
          </div>
          <div>/</div>
          <div id="en" class="changeLang cursor-pointer mx-1">
            <div class="h-8 py-2 px-3 w-auto flex items-center cursor-pointer opacity-70 hover:opacity-100">
              <!-- <img src="/img/en.png" alt="en" class="h-full mr-1"> -->
              <span class="font-semibold uppercase" style="font-size: 18px;">en</span>
            </div>
          </div>
          <div>/</div>
          <div id="hr" class="changeLang cursor-pointer mx-1">
            <div class="h-8 py-2 px-3 w-auto flex items-center cursor-pointer opacity-70 hover:opacity-100">
              <!-- <img src="/img/en.png" alt="en" class="h-full mr-1"> -->
              <span class="font-semibold uppercase" style="font-size: 18px;">hr</span>
            </div>
          </div>  
        </div>
        <a  href="/" class="menu-item">
          <div class="nav-mobile-item">
            Home
          </div>
        </a>
        <a  href="/naše-pobočky" class="menu-item">
          <div class="nav-mobile-item">
            Naše pobočky
          </div>
        </a>
        <a  href="/menu" class="menu-item">
          <div class="nav-mobile-item">
            Menu
          </div>
        </a>
        <a  href="/franchise" class="menu-item">
          <div class="nav-mobile-item">
            Franchise
          </div>
        </a>
        <a  href="/náš-příběh" class="menu-item">
          <div class="nav-mobile-item">
            Náš příběh
          </div>
        </a>
        <a  href="/kontakty" class="menu-item">
          <div class="nav-mobile-item">
            Kontakty
          </div>
        </a>
        <a  href="/přidej-se" class="menu-item">
          <div class="nav-mobile-item">
            Přidej se
          </div>
        </a>
        <a  href="/rozvoz" class="menu-item">
          <div class="nav-mobile-item">
            Rozvoz
          </div>
        </a>

        <div class="pt-8 pb-20">
          <div class="flex justify-between w-2/3 mx-auto">
            <a target="_blank" href="https://www.instagram.com/wafwafcz/">
              <img class="cursor-pointer social-icons" src="/img/instagram.svg" alt="instagram">
            </a>
            <a target="_blank" href="https://www.facebook.com/WafWafCZ/">
              <img class="cursor-pointer social-icons" src="/img/facebook.svg" alt="facebook">
            </a>
            <a target="_blank" href="https://www.tiktok.com/@wafwafcz">
              <img class="cursor-pointer social-icons" src="/img/tiktok.svg" alt="tiktok">
            </a>
          </div>
        </div>
      </nav>

      <nav class="main-nav flex justify-between items-center">
        <a href="/" class="menu-item btn-zoom-in-out">
          Home
        </a>
        <a href="/naše-pobočky" class="menu-item btn-zoom-in-out">
          Naše pobočky
        </a>
        <a href="/menu" class="menu-item btn-zoom-in-out">
          Menu
        </a>
        <a href="/franchise" class="menu-item btn-zoom-in-out">
          Franchise
        </a>

        <a href="/" class="menu-logo btn-zoom-in-out">
          {% if current_page == 'contact' or current_page == 'jobs' or current_page == 'franchising' or current_page == 'about' %}
            <img src="/img/Waf-Waf-white.svg" alt="Waf Waf - crepes & waffles" width="120">
          {% else %}
            <img src="/img/Waf-Waf-logo.svg" alt="Waf Waf - crepes & waffles" width="120">
          {% endif %}
        </a>

        <a href="/náš-příběh" class="menu-item btn-zoom-in-out">
          Náš příběh
        </a>
        <a href="/kontakty" class="menu-item btn-zoom-in-out">
          Kontakty
        </a>
        <a href="/přidej-se" class="menu-item btn-zoom-in-out">
          Přidej se
        </a>
        <a href="/rozvoz" class="menu-item btn-zoom-in-out">
          Rozvoz
        </a>
      </nav>

      <div class="multi-lang hidden lg:flex items-center justify-center leading-5 mt-4 mb-2">
        <div id="cz" class="changeLang cursor-pointer mx-1">
          <div class="h-6 px-1 w-auto flex items-center cursor-pointer opacity-70 hover:opacity-100">
            <!-- <img src="/img/cz.png" alt="cz" class="h-full mr-1"> -->
            <span class="font-semibold uppercase" style="font-size: 18px;">cz</span>
          </div>
        </div>
        <div>/</div>
        <div id="en" class="changeLang cursor-pointer mx-1">
          <div class="h-6 px-1 w-auto flex items-center cursor-pointer opacity-70 hover:opacity-100">
            <!-- <img src="/img/en.png" alt="en" class="h-full mr-1"> -->
            <span class="font-semibold uppercase" style="font-size: 18px;">en</span>
          </div>
        </div>
        <div>/</div>
        <div id="hr" class="changeLang cursor-pointer mx-1">
          <div class="h-6 px-1 w-auto flex items-center cursor-pointer opacity-70 hover:opacity-100">
            <span class="font-semibold uppercase" style="font-size: 18px;">hr</span>
          </div>
        </div>
      </div>
  </div>
</header>
