{% assign current_page = 'about' %}
{% assign page_title = 'Náš příběh' %}

{% include head.html %}

{% include nav.html %}

<div class="container pb-24">
  <div class="mx-auto hero-custom-carousel flex items-center justify-center reveal-delay-2200">
    <div class="overflow-hidden w-full">
      <img src="{{ page.hero_image }}" alt="wafwaf hero" width="100%">
    </div>
  </div>
  <h1 class="h1 text-green w-full reveal-delay-2200">{{ page.big_title }}</h1>
  <div id="about-four-boxes">
    <div class="rubic-pattern top"></div>
    <div class="bg-brown p-8 sm:py-10 xl:px-24 overflow-x-hidden proccess-container">
      <h2 class="text-center class proccess-title">Jak to u nás chodí</h2>
      <div class="flex justify-between proccess-wrapper">
        {% for p in page.proccess %}
          <div class="w-1/5 relative proccess-item proccess-item-{{ forloop.index }} md:reveal-delay-{{ forloop.index | plus:1 }}00">
            <div class="proccess-icon-{{ forloop.index }}">
              <div class="rubic-pattern top"></div>
              <div class="bg-green proccess-icon-image relative z-0 flex items-center justify-center p-4">
                <img src="{{ p.image }}" alt="{{ p.name }}">
              </div>
              <div class="rubic-pattern bottom"></div>
            </div>
            <div class="flex items-start mt-8 sm:mt-16">
              <div class="proccess-item-index">{{ forloop.index }}</div>
              <h3 class="h3">{{ p.name }}</h3>
            </div>
          </div>
          {% endfor %}
      </div>
    </div>
    <div class="rubic-pattern bottom"></div>
  </div>
  <div class="mt-20">
    <div class="mx-6 lg:mx-auto lg:w-4/5 flex flex-wrap lg:flex-nowrap items-start justify-end">
      <div class="w-full lg:w-1/3 order-2 lg:order-1 pr-4">
        <div class="w-full reveal about-icon-first">
          <img src="{{ page.first_section.icon }}" style="width: 160px" alt="icon 1">
        </div>
        <h4 class="text-white mt-4 w-full reveal">
          {{ page.first_section.title }}
        </h4>
        <p class="mt-6 w-full reveal">
          {{ page.first_section.content }}
        </p>
      </div>
      <div class="w-full lg:w-2/3 order-1 lg:order-2 lg:mt-20 mb-10 reveal about-first-section-image" style="background-image: url('{{ page.first_section.image }}');"></div>
    </div>
  </div>

  <div class="flex flex-wrap lg:flex-nowrap justify-between items-center mx-6 lg:mx-0 mt-12 lg:mt-32">
    <div class="w-full lg:w-1/2 reveal reveal-left about-right-section">
      <div class="about-right-section-left-image" style="background-image: url('{{ page.right_section.left_image }}');"></div>
    </div>
    <div class="w-full lg:w-2/3 mt-12 lg:mt-0">
      <div class="reveal about-icon">
        <img src="{{ page.right_section.first_icon }}" alt="first icon">
      </div>
      <h4 class="h3 text-white mt-4 reveal py-3">
        {{ page.right_section.first_title }}
      </h4>
      <p class="mt-6 w-full lg:w-3/5 reveal full-width-mobile">
        {{ page.right_section.first_content }}
      </p>
      <div class="reveal my-12 about-second-section-middle-image" style="background-image: url('{{ page.right_section.first_image }}');">
      </div>
      <div class="about-icon w-full reveal">
        <img class="mt-6" src="{{ page.right_section.second_icon }}" alt="second icon">
      </div>
      <h4 class="h3 text-white mt-4 w-full reveal py-3">
        {{ page.right_section.second_title }}
      </h4>
      <p class="mt-6 w-full lg:w-3/5 reveal full-width-mobile">
        {{ page.right_section.second_content }}
      </p>

      <div class="w-4/5 lg:w-1/2 reveal mx-auto lg:mx-0">
        <a href="/contact" class="black-btn reveal mt-12 block ml-0 btn-zoom-in-out">BUĎ U TOHO</a>
      </div>
    </div>
  </div>
</div>

{% include footer.html %}
