{% assign current_page = 'contact' %}
{% assign page_title = 'Kontakty' %}

{% include head.html %}

<div class="contact-page">
  <div class="container">
    {% include nav.html %}
  </div>
  <div class="container pt-6 pb-12">
    <div class="mx-auto hero-custom-carousel flex items-center justify-center">
      <div class="overflow-hidden">
        <img src="{{ page.hero_image }}" alt="wafwaf hero" width="100%">
      </div>
    </div>
    <h1 class="h1 text-white w-full reveal">{{ page.big_title }}</h1>
    <div class="flex flex-wrap justify-center lg:justify-between items-start">
      {% for information in page.contact_information %}
        <div class="single-information reveal-delay-{{ forloop.index | plus:1 }}00">
          <div class="rubic-pattern top"></div>
          <div class="info-title flex items-center justify-center text-center">
            {{ information.title }}
          </div>
          <div class="rubic-pattern bottom"></div>
          <div class="info-content mt-8 content-column-{{ forloop.index }}">
            {{ information.content | markdownify }}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="container">
    <div class="rubic-pattern top"></div>
  </div>
</div>

{% include delivery.html %}

{% include instagram.html %}

{% include footer.html %}
