{% assign current_page = 'contact' %}
{% assign pageUrl = page.path | split: "/" %}
{% if pageUrl.first == 'en' %}
  {% assign page_title = 'Contact' %}
{% else %}
  {% assign page_title = 'Kontakty' %}
{% endif %}
{% assign pageUrl = page.path | split: "/" %}

{% include head.html %}

<div class="contact-page">
  <div class="container">
    {% include nav.html %}
  </div>
  <div class="container pb-12">
    <div class="mx-auto hero-custom-carousel flex items-center justify-center reveal-delay-2200">
      <div class="overflow-hidden w-full">
        <img src="{{ page.hero_image }}" alt="wafwaf hero" width="100%">
      </div>
    </div>
    <h1 class="h1 text-white w-full reveal-delay-2200">{{ page.big_title }}</h1>
    <div class="flex flex-wrap justify-center lg:justify-between items-start reveal-delay-2200">
      {% for information in page.contact_information %}
        <div class="single-information reveal-delay-{{ forloop.index | plus:1 }}00">
          <div class="rubic-pattern top"></div>
          <div class="info-title flex items-center justify-center text-center">
            {{ information.title }}
          </div>
          <div class="rubic-pattern bottom"></div>
          <div class="info-content mt-8 content-column-{{ forloop.index }}">
            {{ information.content | markdownify }}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="container">
    <div class="rubic-pattern top"></div>
  </div>
</div>

<!-- {% include delivery.html %} -->
<div class="mt-12 sm:mt-24 px-6 sm:px-0 pb-4 w-full reveal-delay-400">
  <h2 class="h2 text-center sm:text-left">{{ page.delivery_text }} <br> {{ page.delivery_time }} </h2>
  <div class="w-4/5 sm:w-1/5 mx-auto mb-8 my-8 sm:mb-24">
    {% if pageUrl.first == 'en' %}
      <a href="/en/delivery" class="black-btn mt-12 block btn-zoom-in-out">
    {% elsif pageUrl.first == 'hr' %}
      <a href="/hr/delivery" class="black-btn mt-12 block btn-zoom-in-out">
    {% else %}
      <a href="/rozvoz" class="black-btn mt-12 block btn-zoom-in-out">
    {% endif %}
        {{ page.delivery_button }} 
      </a>
    </a>
  </div>
</div>


<!-- {% include instagram.html %} -->

<div class="container instagram-feed px-6 sm:px-0">
  <h2 class="h2 text-center instagram-title w-full reveal">{{ page.instagram_title }}</h2>
  <div class="relative flex flex-wrap justify-between mt-16 w-5/6 mx-auto">
      <div
        id="insta"
        class="w-full"
        loading="lazy"
        data-mc-src="b82f68f5-8fc2-4fcb-99ce-923ecb565f4b#instagram"></div>
      <div style="position: absolute; left: 0; bottom: 0; height: 20px; background: #fffdf5; z-index: 10; width: 100%;"></div>
  </div>
</div>

{% include footer.html %}
