{% assign current_page = 'menu' %}
{% assign page_title = 'Menu' %}
{% include head.html %}

{% include nav.html %}

<div class="container">
  <div class="w-5/6 mx-auto pb-24">
    <h1 class="h1 reveal sm:mt-12 mb-8 sm:mb-4">{{ page.big_title }}</h1>
    <div class="rubic-pattern top"></div>
    <div class="flex justify-center bg-light-green">
      <div class="w-auto flex justify-start content-center items-center  overflow-x-auto no-scrollbar" style="margin: 0 auto;">
        {% for item in page.categories %}
        <div class="category-title text-center mx-6 sm:mx-12 lg:mx-6 py-6 cursor-pointer" data-category-name="{{ item.category_title | slugify }}">
          {{ item.category_title }}
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="rubic-pattern bottom"></div>
    <div class="products-container flex flex-wrap justify-between mt-8">
      {% for item in page.categories %}
        {% for product in item.products %}
          <div class="single-product w-1/2 py-16 px-12 slide-up reveal-delay-200" data-category={{ item.category_title | slugify }}>
            <div class="single-product-img" style="background-image: url('{{ product.product_image }}');"></div>
            <div class="flex flex-wrap items-start">
              <div class="md:w-3/4">
                <div class="product-title">{{ product.product_title }}</div>
                <div class="hidden md:block product-description">{{ product.product_description }}</div>
              </div>
              <div class="flex justify-between items-start mt-6 md:w-1/4 md:block">
                <div class="block md:hidden product-description">{{ product.product_description }}</div>
                <div class="product-price">{{ product.product_price }},-</div>
              </div>
            </div>
          </div>
        {% endfor %}
      {% endfor %}
    </div>
  </div>
</div>

{% include footer.html %}
